{% extends "base.html" %}

{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block content %}

<div class="container">

    <!-- Row containing banner image -->
    <div class="row">
        <div class="col text-center">
            {% image self.banner_image fill-300x300 as banner %}
            <img src="{{ banner.url }}" class="rounded-circle" alt="{{ banner.alt }}" >
        </div>
    </div>

    <!-- Row containing title -->
    <div class="row">
        <div class="col text-center">
            {% if self.custom_title %}
            <h1> {{ self.custom_title }} </h1>
            {% else %}
            <h1> {{ self.title }} </h1>
            {% endif %}
        </div>
    </div>

    <!-- Optional customisable block for article subtitle page -->
    {% block article_subtitle %}
    {% endblock %}

    <!-- Row containing categories -->
    <div class="row">
        <div class="col text-center">
            <ul style='list-style: none;'>
                {% for cat in self.categories.all %}
                    <a href="{{ self.get_parent.url }}?category={{ cat.slug }}"><li> {{ cat.name }} </li></a>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- customisable block for article page -->
    {% block article_image %}
    {% endblock %}

    <!-- customisable block for video page -->

    {% block video_blog %}
    {% endblock %}

    <!-- Rows containing streamfields -->
    <div class="row">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            {% for block in page.content %}
                {% include_block block %}
            {% endfor %}
        </div>
    </div>

    <!-- Row containing authored by title -->
    <div class="row">
        <div class="col text-center">
            <h3>Authored by:</h3>
        </div>
    </div>

    <!-- Row containing authors listing across screen -->
    <div class="row justify-content-center">
        {% for author in self.blog_authors.all %}
            {% image author.author.image fill-100x100 as img %}
            <div class="col-md-4 col-sm-6 text-center">
                <ul style='list-style: none;'>
                    <img src="{{ img.url }}" class="rounded-circle" alt="{{ img.alt }}">
                    <li>{{ author.author.name }}</li>
                        {% if author.author.website %}
                            <li><a href="{{ author.author.website }}">{{ author.author.name }}</a></li>
                        {% endif %}
                </ul>
            </div>
        {% endfor %}
    </div>

</div>
{% endblock content %}
